<%- include('../partials/header') %>
<h1>Login</h1>

<% if (errors && errors.length) { %>
  <ul style="color:red;">
    <% errors.forEach(err => { %>
      <li><%= err.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/auth/login" method="POST">
  <div>
    <label>Email</label>
    <input name="email" value="<%= old && old.email ? old.email : '' %>" required>
  </div>
  <div>
    <label>Password</label>
    <input name="password" type="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<a href="/auth/register">Register</a>
